################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/AgreementAPI/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/AgreementAPI/FileContentIndex/03dcfb23-ac03-4a46-8e24-687bfd7d7604.vsidx
/.vs/AgreementAPI/FileContentIndex/282a124f-a1d9-4c96-87e4-c803c4d9c5a5.vsidx
/.vs/AgreementAPI/FileContentIndex/296e1eca-4974-44b0-8b97-cc7f46a7c50d.vsidx
/.vs/AgreementAPI/FileContentIndex/39f1e289-74e1-428d-b921-d7ca0ce734f5.vsidx
/.vs/AgreementAPI/FileContentIndex/51e42fa0-3623-48a5-8c24-98a9762b2da8.vsidx
/.vs/AgreementAPI/FileContentIndex/72f79cac-5572-48bb-91b3-8c89d94b5f9d.vsidx
/.vs/AgreementAPI/FileContentIndex/d157f094-84e6-4cd2-a9e6-93ff5a4e9112.vsidx
/.vs/AgreementAPI/FileContentIndex/9447c699-d688-4df1-95a9-4fc71c209040.vsidx
/.vs/AgreementAPI/FileContentIndex/e0c9e5d6-f6ad-4570-997d-39550ccd34b1.vsidx
/bin/Debug/net9.0/AgreementAPI.dll
/bin/Debug/net9.0/AgreementAPI.pdb
/bin/Debug/net9.0/appsettings.json
/bin/Debug/net9.0/tayyem2025/AgreementAPI.deps.json
/bin/Debug/net9.0/tayyem2025/AgreementAPI.runtimeconfig.json
/bin/Debug/net9.0/tayyem2025/AgreementAPI.staticwebassets.endpoints.json
/bin/Debug/net9.0/tayyem2025/appsettings.Development.json
/bin/Debug/net9.0/tayyem2025/appsettings.json
/bin/Debug/net9.0/tayyem2025/test-insert.json
/bin/Debug/net9.0/tayyem2025/test-update.json
/bin/Debug/net9.0/tayyem2025/web.config
/bin/Release/net9.0/runtimes/linux/lib/net8.0/System.DirectoryServices.Protocols.dll
*.dll
/bin/Release/net9.0/tayyem2025/AgreementAPI.deps.json
/bin/Release/net9.0/tayyem2025/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/tayyem2025/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/tayyem2025/appsettings.Development.json
/bin/Release/net9.0/tayyem2025/appsettings.json
/bin/Release/net9.0/tayyem2025/test-insert.json
/bin/Release/net9.0/tayyem2025/test-update.json
/bin/Release/net9.0/tayyem2025/web.config
/bin/Release/net9.0/win-x64/publish/AgreementAPI.deps.json
/bin/Release/net9.0/win-x64/publish/AgreementAPI.exe
/bin/Release/net9.0/win-x64/publish/AgreementAPI.pdb
/bin/Release/net9.0/win-x64/publish/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/win-x64/publish/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/win-x64/publish/appsettings.Development.json
/bin/Release/net9.0/win-x64/publish/appsettings.json
/bin/Release/net9.0/win-x64/publish/createdump.exe
/bin/Release/net9.0/win-x64/publish/test-insert.json
/bin/Release/net9.0/win-x64/publish/test-update.json
/bin/Release/net9.0/win-x64/publish/web.config
/bin/Release/net9.0/win-x64/AgreementAPI.deps.json
/bin/Release/net9.0/win-x64/AgreementAPI.exe
/bin/Release/net9.0/win-x64/AgreementAPI.pdb
/bin/Release/net9.0/win-x64/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/win-x64/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/win-x64/appsettings.Development.json
/bin/Release/net9.0/win-x64/appsettings.json
/bin/Release/net9.0/win-x64/createdump.exe
/bin/Release/net9.0/win-x64/tayyem2025/AgreementAPI.deps.json
/bin/Release/net9.0/win-x64/tayyem2025/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/win-x64/tayyem2025/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/win-x64/tayyem2025/appsettings.Development.json
/bin/Release/net9.0/win-x64/tayyem2025/appsettings.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/AgreementAPI.deps.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/appsettings.Development.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/appsettings.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/test-insert.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/test-update.json
/bin/Release/net9.0/win-x64/tayyem2025/tayyem2025/web.config
/bin/Release/net9.0/win-x64/tayyem2025/test-insert.json
/bin/Release/net9.0/win-x64/tayyem2025/test-update.json
/bin/Release/net9.0/win-x64/tayyem2025/web.config
/bin/Release/net9.0/win-x64/test-insert.json
/bin/Release/net9.0/win-x64/test-update.json
/bin/Release/net9.0/AgreementAPI.deps.json
/bin/Release/net9.0/AgreementAPI.exe
/bin/Release/net9.0/AgreementAPI.pdb
/bin/Release/net9.0/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/appsettings.Development.json
/bin/Release/net9.0/appsettings.json
/bin/Release/net9.0/test-insert.json
/bin/Release/net9.0/test-update.json
/bin/Release/net9.0/win-x86/AgreementAPI.deps.json
/bin/Release/net9.0/win-x86/AgreementAPI.exe
/bin/Release/net9.0/win-x86/AgreementAPI.pdb
/bin/Release/net9.0/win-x86/AgreementAPI.runtimeconfig.json
/bin/Release/net9.0/win-x86/AgreementAPI.staticwebassets.endpoints.json
/bin/Release/net9.0/win-x86/appsettings.Development.json
/bin/Release/net9.0/win-x86/appsettings.json
/bin/Release/net9.0/win-x86/createdump.exe
/bin/Release/net9.0/win-x86/test-insert.json
/bin/Release/net9.0/win-x86/test-update.json
/Properties/PublishProfiles/FolderProfile.pubxml
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Properties/PublishProfiles/FolderProfile1.pubxml
/Properties/PublishProfiles/FolderProfile1.pubxml.user
/obj/AgreementAPI.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
*.vsidx
/obj/Debug/net9.0/AgreementAPI.AssemblyInfo.cs
/obj/Debug/net9.0/AgreementAPI.AssemblyInfoInputs.cache
/obj/Debug/net9.0/AgreementAPI.assets.cache
/obj/Debug/net9.0/AgreementAPI.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/AgreementAPI.dll
/obj/Debug/net9.0/AgreementAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/AgreementAPI.pdb
/obj/Debug/net9.0/project.razor.json
/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/obj/Debug/net9.0/rpswa.dswa.cache.json
/obj/publish/win-x86/AgreementAPI.csproj.nuget.dgspec.json
/obj/publish/win-x86/AgreementAPI.csproj.nuget.g.props
/obj/publish/win-x86/AgreementAPI.csproj.nuget.g.targets
/obj/publish/win-x86/project.assets.json
/obj/publish/win-x86/project.nuget.cache
/obj/Release/net9.0/Agreemen.71AFAC36.Up2Date
/obj/Release/net9.0/AgreementAPI.csproj.CoreCompileInputs.cache
/obj/Release/net9.0/AgreementAPI.csproj.FileListAbsolute.txt
/obj/Release/net9.0/AgreementAPI.genruntimeconfig.cache
/obj/Release/net9.0/AgreementAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Release/net9.0/AgreementAPI.MvcApplicationPartsAssemblyInfo.cs
/obj/Release/net9.0/AgreementAPI.pdb
/obj/Release/net9.0/apphost.exe
/obj/Release/net9.0/PublishOutputs.7af6c68bb0.txt
/obj/Release/net9.0/PublishOutputs.d796fd713d.txt
/obj/Release/net9.0/PubTmp/Out/AgreementAPI.deps.json
/obj/Release/net9.0/PubTmp/Out/AgreementAPI.exe
/obj/Release/net9.0/PubTmp/Out/AgreementAPI.pdb
/obj/Release/net9.0/PubTmp/Out/AgreementAPI.runtimeconfig.json
/obj/Release/net9.0/PubTmp/Out/AgreementAPI.staticwebassets.endpoints.json
/obj/Release/net9.0/PubTmp/Out/appsettings.Development.json
/obj/Release/net9.0/PubTmp/Out/appsettings.json
/obj/Release/net9.0/PubTmp/Out/test-insert.json
/obj/Release/net9.0/PubTmp/Out/test-update.json
/obj/Release/net9.0/PubTmp/Out/web.config
/obj/Release/net9.0/rjsmcshtml.dswa.cache.json
/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/obj/Release/net9.0/rpswa.dswa.cache.json
/obj/Release/net9.0/staticwebassets.build.endpoints.json
/obj/Release/net9.0/staticwebassets.build.json
/obj/Release/net9.0/staticwebassets.build.json.cache
/obj/Release/net9.0/staticwebassets.publish.endpoints.json
/obj/Release/net9.0/staticwebassets.publish.json
/obj/Release/net9.0/staticwebassets.references.upToDateCheck.txt
/obj/Release/net9.0/staticwebassets.removed.txt
/obj/Release/net9.0/win-x64
/obj/Release/net9.0/win-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Release/net9.0/win-x64/Agreemen.71AFAC36.Up2Date
/obj/Release/net9.0/win-x64/AgreementAPI.AssemblyInfo.cs
/obj/Release/net9.0/win-x64/AgreementAPI.AssemblyInfoInputs.cache
/obj/Release/net9.0/win-x64/AgreementAPI.assets.cache
/obj/Release/net9.0/win-x64/AgreementAPI.csproj.AssemblyReference.cache
/obj/Release/net9.0/win-x64/AgreementAPI.csproj.CoreCompileInputs.cache
/obj/Release/net9.0/win-x64/AgreementAPI.csproj.FileListAbsolute.txt
/obj/Release/net9.0/win-x64/AgreementAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net9.0/win-x64/AgreementAPI.genruntimeconfig.cache
/obj/Release/net9.0/win-x64/AgreementAPI.GlobalUsings.g.cs
/obj/Release/net9.0/win-x64/AgreementAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Release/net9.0/win-x64/AgreementAPI.MvcApplicationPartsAssemblyInfo.cs
/obj/Release/net9.0/win-x64/AgreementAPI.pdb
/obj/Release/net9.0/win-x64/apphost.exe
/obj/Release/net9.0/win-x64/PublishOutputs.0951ffb212.txt
/obj/Release/net9.0/win-x64/PublishOutputs.d796fd713d.txt
/obj/Release/net9.0/win-x64/rjsmcshtml.dswa.cache.json
/obj/Release/net9.0/win-x64/rjsmrazor.dswa.cache.json
/obj/Release/net9.0/win-x64/rpswa.dswa.cache.json
/obj/Release/net9.0/win-x64/staticwebassets.build.endpoints.json
/obj/Release/net9.0/win-x64/staticwebassets.build.json
/obj/Release/net9.0/win-x64/staticwebassets.build.json.cache
/obj/Release/net9.0/win-x64/staticwebassets.publish.endpoints.json
/obj/Release/net9.0/win-x64/staticwebassets.publish.json
/obj/Release/net9.0/win-x86
/obj/Release/net9.0/win-x86/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Release/net9.0/win-x86/Agreemen.71AFAC36.Up2Date
/obj/Release/net9.0/win-x86/AgreementAPI.AssemblyInfo.cs
/obj/Release/net9.0/win-x86/AgreementAPI.AssemblyInfoInputs.cache
/obj/Release/net9.0/win-x86/AgreementAPI.assets.cache
/obj/Release/net9.0/win-x86/AgreementAPI.csproj.AssemblyReference.cache
/obj/Release/net9.0/win-x86/AgreementAPI.csproj.CoreCompileInputs.cache
/obj/Release/net9.0/win-x86/AgreementAPI.csproj.FileListAbsolute.txt
/obj/Release/net9.0/win-x86/AgreementAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net9.0/win-x86/AgreementAPI.genruntimeconfig.cache
/obj/Release/net9.0/win-x86/AgreementAPI.GlobalUsings.g.cs
/obj/Release/net9.0/win-x86/AgreementAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Release/net9.0/win-x86/AgreementAPI.MvcApplicationPartsAssemblyInfo.cs
/obj/Release/net9.0/win-x86/AgreementAPI.pdb
/obj/Release/net9.0/win-x86/apphost.exe
/obj/Release/net9.0/win-x86/PublishOutputs.60af83781a.txt
/obj/Release/net9.0/win-x86/PubTmp/Out
/obj/Release/net9.0/win-x86/PubTmp/Out/AgreementAPI.deps.json
/obj/Release/net9.0/win-x86/PubTmp/Out/AgreementAPI.exe
/obj/Release/net9.0/win-x86/PubTmp/Out/AgreementAPI.pdb
/obj/Release/net9.0/win-x86/PubTmp/Out/AgreementAPI.runtimeconfig.json
/obj/Release/net9.0/win-x86/PubTmp/Out/AgreementAPI.staticwebassets.endpoints.json
/obj/Release/net9.0/win-x86/PubTmp/Out/appsettings.Development.json
/obj/Release/net9.0/win-x86/PubTmp/Out/appsettings.json
/obj/Release/net9.0/win-x86/PubTmp/Out/createdump.exe
/obj/Release/net9.0/win-x86/PubTmp/Out/test-insert.json
/obj/Release/net9.0/win-x86/PubTmp/Out/test-update.json
/obj/Release/net9.0/win-x86/PubTmp/Out/web.config
/obj/Release/net9.0/win-x86/rjsmcshtml.dswa.cache.json
/obj/Release/net9.0/win-x86/rjsmrazor.dswa.cache.json
/obj/Release/net9.0/win-x86/rpswa.dswa.cache.json
/obj/Release/net9.0/win-x86/staticwebassets.build.endpoints.json
/obj/Release/net9.0/win-x86/staticwebassets.build.json
/obj/Release/net9.0/win-x86/staticwebassets.build.json.cache
/obj/Release/net9.0/win-x86/staticwebassets.publish.endpoints.json
/obj/Release/net9.0/win-x86/staticwebassets.publish.json
/obj/Release/net9.0/win-x86/staticwebassets.references.upToDateCheck.txt
